apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ cert_auth_data }} 
    server: {{ k8s_cluster_endpoint }}
  name: {{ k8s_cluster_name }}
contexts:
- context:
    cluster: {{ k8s_cluster_name }}
    user: {{ k8s_new_user_name }} 
  name: {{ k8s_new_user_name }}@{{ k8s_cluster_name }}
current-context: {{ k8s_new_user_name }}@{{ k8s_cluster_name }} 
kind: Config
preferences: {}
users:
- name: {{ k8s_new_user_name }} 
  user:
    client-certificate-data: {{ certificate }}
    client-key-data: {{ private_key }}